@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla One:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700;900&display=swap");
@import url("https://use.typekit.net/otr2eby.css");

@font-face {
    font-family: Yolk;
    src: url(../fonts/FEYolk.otf) format("otf");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

:root {
    --font-basic: brown-pro, Fjalla One;
    --font-swap: Yolk, Roboto, Ubuntu;
    --color-basic: rgb(255, 255, 255);
    --color-org: rgb(255, 87, 1);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-swap);
    font-weight: 300;
    background-color: rgb(255, 255, 255);
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
    margin: auto 0 0 70px;
    font-size: 25px;
    background: var(--color-basic);
    font-weight: 500;
    border-radius: 10px;

}

nav div a {
    margin-left: -10px;
}

nav div img {
    width: 22px;
}

nav ul {
    display: flex;
    list-style: none;
    font-weight: 500;
    margin: 20px 50px 0 0;

}

nav li {
    padding-left: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: opacity 500ms ease;
}

nav a:hover {
    border-radius: 10px;
    opacity: 50%;
    transition: opacity 500ms ease;

}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
    }

    nav li {
        padding: 0.5rem 0;
    }
}

h1 {
    margin-left: 20px;
}

.hautcv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.aPropos{
    background-color: antiquewhite;
    width: 700px;
    margin: 0 0 0 45px;
}

.allCompetence{
    background-color: #e8e8e8;
    display: flex;
    padding: 50px;
    border-radius: 10px;
    width: 50%;
}

.allCompetence h1{
    display: flex;
    position: absolute;
    margin: -50px 0 0 20px;
}

.competence {
    box-sizing: border-box;
    padding: 30px;
    width: 160px;
}

.blocCompetence {
    background-color: #bbbbbb;
    border-radius: 45px;
    height: 150px;
}

.imageCompetence img {
    width: 70px;
    margin: 10px 15px 0 15px;
}

.txtCompetence {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 100px;

}

.txtCompetence h6{
    margin: 20px 5px 20px 5px;
}

.txtCompetence span{
    color: #484848;

    font-size: 20px;
}
.sousCompetence{
    font-size: 17px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.bascv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.downcv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 80px;
    justify-items: center;
    align-items: center;
}

.grid-index {
    grid-template-columns: repeat(2, 1fr);
}

.grid-item {
    background-color: var(--color-basic);
    padding: 20px;
    width: 85%;
    height: 600px;
    border-radius: 10px;
    transition: transform 0.7s ease;
    transform: scale(1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-item:hover {
    transform: scale(1.04);
    transition: transform 0.7s ease;
}


.grid-item h2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;

}

.imageGrid img {
    width: 700px;

}

.imageNdi {
    margin-right: 15px;
    box-shadow: 0 6px 15px -3px rgba(0, 0, 0, 0.90);
    border-radius: 5px;
}

.txtGrid {
    margin: auto;
}

.infoPro {
    margin-top: 50px;
    background-color: var(--color-basic);
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;


}

.infoPro img {
    width: 20%;
    height: 20%;

}

.infoPro p:Nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: -50px;
    margin-left: -350px;
    color: var(--color-org);
}

.infoPro p:Nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 450;
}

hr {
    width: 90%;
    height: 1px;
    background-color: #949494;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}

.infoTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.infoTop h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
}

.infoTop p {
    color: #2f2f2f;
    margin-top: -5px;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.hiddenbox{
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

.showbox{
    opacity: 1;
}



/* ------------------------------------ */

/* Fenêtre Modal */


.baseModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(50deg, rgba(255, 255, 255, 0.31) 0%, rgba(213, 213, 213, 0.48) 50%, rgba(197, 197, 197, 0.31) 100%);
}

.cadreFModal {
    padding: 80px 180px;
    background-color: rgba(255, 255, 255, 0.97);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    animation-name: cadreModal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.texteFModal {
    font-size: 20px;
    margin: 10px 0 0 0;
}

.linkedinFModal {
    font-size: 20px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedinFModal a {
    text-decoration: none;
    color: #2266c2;
}

/* Animation du cadre Modal */

@keyframes cadreModal {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}